<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_101" class="java.beans.XMLDecoder">
	<object class="tlsattacker.fuzzer.server.TLSServer">
		<void property="accepted">
			<string>ACCEPT</string>
		</void>
		<void property="ip">
			<string>127.0.0.1</string>
		</void>
		<void property="port">
			<int>4434</int>
		</void>
		<void property="restartServerCommand">
			<string>implementations/openssl/openssl/bin/openssl s_server -naccept 1 -key [key] -cert [cert] -accept [port]</string>
		</void>
	</object>
</java>
