resources/*.pem
test.sh

# (build) artifacts
apps/
target/

# Eclipse
**/.classpath
**/.project
**/.settings/
.project

# Netbeans
nbproject/
nbactions.xml.project
nbactions.xml

# IntelliJ
.idea/
*.iml

# Maven
pom.xml.*
release.properties

# VS Code
.factorypath
