<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <clientAuthentication>true</clientAuthentication>
    <defaultClientSupportedSignatureAndHashAlgorithms>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
    </defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultSelectedSignatureAndHashAlgorithm>ECDSA_SHA256</defaultSelectedSignatureAndHashAlgorithm>
</config>
