<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <addEncryptThenMacExtension>true</addEncryptThenMacExtension>
    <quicFrameLayerAllConfigurationsOnePacket>true</quicFrameLayerAllConfigurationsOnePacket>
    <quicPacketLayerAllConfigurationsOnePacket>true</quicPacketLayerAllConfigurationsOnePacket>
</config>
