<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <addEncryptedServerNameIndicationExtension>true</addEncryptedServerNameIndicationExtension>
    <esniServerKeyPairs>
        <esniServerKeyPair>
            <group>
                <originalValue>00 1D</originalValue>
            </group>
            <privateKey>-35862849564059803287082945144062507860160501396022878289617408550825798132134</privateKey>
            <publicKey>
                <originalValue>2A 98 1D B6 CD D0 2A 06 C1 76 31 02 C9 E7 41 36 5A C4 E6 F7 2B 31 76 A6 BD 6A 35 23 D3 EC 0F 4C</originalValue>
            </publicKey>
        </esniServerKeyPair>
    </esniServerKeyPairs>
</config>
