<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <quicFrameLayerAllConfigurationsOnePacket>true</quicFrameLayerAllConfigurationsOnePacket>
    <quicPacketLayerAllConfigurationsOnePacket>true</quicPacketLayerAllConfigurationsOnePacket>
    <defaultPSKKey>AA</defaultPSKKey>
</config>
