<config>
    <defaultClientSupportedCiphersuites>TLS_ECCPWD_WITH_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultClientSupportedCiphersuites>TLS_ECCPWD_WITH_AES_256_GCM_SHA384</defaultClientSupportedCiphersuites>
    <defaultClientSupportedCiphersuites>TLS_ECCPWD_WITH_AES_128_CCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultClientSupportedCiphersuites>TLS_ECCPWD_WITH_AES_256_CCM_SHA384</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_ECCPWD_WITH_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_ECCPWD_WITH_AES_256_GCM_SHA384</defaultServerSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_ECCPWD_WITH_AES_128_CCM_SHA256</defaultServerSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_ECCPWD_WITH_AES_256_CCM_SHA384</defaultServerSupportedCiphersuites>
    <defaultClientNamedGroups>BRAINPOOLP256R1</defaultClientNamedGroups>
    <defaultServerNamedGroups>BRAINPOOLP256R1</defaultServerNamedGroups>
    <defaultSelectedNamedGroup>BRAINPOOLP256R1</defaultSelectedNamedGroup>
    <addPWDClearExtension>true</addPWDClearExtension>
    <defaultSelectedCipherSuite>TLS_ECCPWD_WITH_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <addKeyShareExtension>true</addKeyShareExtension>
    <useFreshRandom>false</useFreshRandom>
    <defaultClientRandom>
        52 8f bf 52 17 5d e2 c8 69 84 5f db fa 83 44 f7
        d7 32 71 2e bf a6 79 d8 64 3c d3 1a 88 0e 04 3d
    </defaultClientRandom>
    <defaultServerRandom>
        52 8f bf 52 43 78 a1 b1 3b 8d 2c bd 24 70 90 72
        13 69 f8 bf a3 ce eb 3c fc d8 5c bf cd d5 8e aa
    </defaultServerRandom>
    <defaultClientPWDUsername>fred</defaultClientPWDUsername>
    <defaultPWDPassword>barney</defaultPWDPassword>
    <defaultPWDIterations>40</defaultPWDIterations>
    <defaultServerPWDPrivate>
        21 D9 9D 34 1C 97 97 B3  AE 72 DF D2 89 97 1F 1B
        74 CE 9D E6 8A D4 B9 AB  F5 48 88 D8 F6 C5 04 3C
    </defaultServerPWDPrivate>
    <defaultServerPWDMask>
        0D 96 AB 62 4D 08 2C 71  25 5B E3 64 8D CD 30 3F
        6A B0 CA 61 A9 50 34 A5  53 E3 30 8D 1D 37 44 E5
    </defaultServerPWDMask>
    <defaultClientPWDPrivate>
        17 1D E8 CA A5 35 2D 36  EE 96 A3 99 79 B5 B7 2F
        A1 89 AE 7A 6A 09 C7 7F  7B 43 8A F1 6D F4 A8 8B
    </defaultClientPWDPrivate>
    <defaultClientPWDMask>
        4F 74 5B DF C2 95 D3 B3  84 29 F7 EB 30 25 A4 88
        83 72 8B 07 D8 86 05 C0  EE 20 23 16 A0 72 D1 BD
    </defaultClientPWDMask>
    <defaultServerPWDSalt>
        96 3C 77 CD C1 3A 2A 8D  75 CD DD D1 E0 44 99 29
        84 37 11 C2 1D 47 CE 6E  63 83 CD DA 37 E4 7D A3
    </defaultServerPWDSalt>
</config>
