<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <clientAuthentication>true</clientAuthentication>
    <defaultClientSupportedSignatureAndHashAlgorithms>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
    </defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultSelectedSignatureAndHashAlgorithm>RSA_SHA256</defaultSelectedSignatureAndHashAlgorithm>
</config>
