<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <prefferedCertRsaKeySize>2048</prefferedCertRsaKeySize>
    <prefferedCertDssKeySize>2048</prefferedCertDssKeySize>
    <serverSendsApplicationData>true</serverSendsApplicationData>
    <addSRPExtension>true</addSRPExtension>
</config>
