<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <highestProtocolVersion>SSL2</highestProtocolVersion>
    <supportedVersions>
        <supportedVersion>SSL2</supportedVersion>
    </supportedVersions>
    <prefferedCertRsaKeySize>2048</prefferedCertRsaKeySize>
    <prefferedCertDssKeySize>2048</prefferedCertDssKeySize>
    <workflowTraceType>SSL2_HELLO</workflowTraceType>
</config>
