<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <defaultLayerConfiguration>SSL2</defaultLayerConfiguration>
    <highestProtocolVersion>SSL2</highestProtocolVersion>
    <supportedVersions>
        <supportedVersion>SSL2</supportedVersion>
    </supportedVersions>
    <workflowTraceType>SSL2_HELLO</workflowTraceType>
</config>
