<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <resetWorkflowTracesBeforeSaving>true</resetWorkflowTracesBeforeSaving>
    <quicFrameLayerAllConfigurationsOnePacket>true</quicFrameLayerAllConfigurationsOnePacket>
    <quicPacketLayerAllConfigurationsOnePacket>true</quicPacketLayerAllConfigurationsOnePacket>
</config>
