<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <tls13BackwardsCompatibilityMode>true</tls13BackwardsCompatibilityMode>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgorithmsExtension>true</addSignatureAndHashAlgorithmsExtension>
    <addRenegotiationInfoExtension>true</addRenegotiationInfoExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>
        <supportedVersion>TLS13</supportedVersion>
    </supportedVersions>            
    <defaultClientSupportedCipherSuites>
        <defaultClientSupportedCipherSuite>TLS_AES_128_GCM_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_256_GCM_SHA384</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_CHACHA20_POLY1305_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_128_CCM_SHA256</defaultClientSupportedCipherSuite>
        <defaultClientSupportedCipherSuite>TLS_AES_128_CCM_8_SHA256</defaultClientSupportedCipherSuite>
    </defaultClientSupportedCipherSuites>
    <defaultClientSupportedSignatureAndHashAlgorithms>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_NONE</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_MD5</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_SHA1</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_SHA224</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ANONYMOUS_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_NONE</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_MD5</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA1</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA224</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_NONE</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_MD5</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_SHA1</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_SHA224</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>DSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_NONE</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_MD5</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA1</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA224</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ECDSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ED25519</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>ED448</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_RSAE_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA384</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>RSA_PSS_PSS_SHA512</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>GOSTR34102001_GOSTR3411</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>GOSTR34102012_256_GOSTR34112012_256</defaultClientSupportedSignatureAndHashAlgorithm>
        <defaultClientSupportedSignatureAndHashAlgorithm>GOSTR34102012_512_GOSTR34112012_512</defaultClientSupportedSignatureAndHashAlgorithm>
    </defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedCompressionMethods>
        <defaultClientSupportedCompressionMethod>NULL</defaultClientSupportedCompressionMethod>
    </defaultClientSupportedCompressionMethods>
    <defaultClientNamedGroups>
        <defaultClientNamedGroup>SECT163K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT163R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT163R2</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT193R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT193R2</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT233K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT233R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT239K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT283K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT283R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT409K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT409R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT571K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECT571R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP160K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP160R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP160R2</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP192K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP192R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP224K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP224R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP256K1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP256R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP384R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>SECP521R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>BRAINPOOLP256R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>BRAINPOOLP384R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>BRAINPOOLP512R1</defaultClientNamedGroup>
        <defaultClientNamedGroup>ECDH_X25519</defaultClientNamedGroup>
        <defaultClientNamedGroup>ECDH_X448</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE2048</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE3072</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE4096</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE6144</defaultClientNamedGroup>
        <defaultClientNamedGroup>FFDHE8192</defaultClientNamedGroup>
    </defaultClientNamedGroups>
    <defaultClientKeyShareNamedGroups>
        <defaultClientKeyShareNamedGroup>SECT163K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT163R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT163R2</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT193R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT193R2</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT233K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT233R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT239K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT283K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT283R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT409K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT409R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT571K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECT571R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP160K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP160R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP160R2</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP192K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP192R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP224K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP224R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP256K1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP256R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP384R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>SECP521R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>BRAINPOOLP256R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>BRAINPOOLP384R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>BRAINPOOLP512R1</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>ECDH_X25519</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>ECDH_X448</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>FFDHE2048</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>FFDHE3072</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>FFDHE4096</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>FFDHE6144</defaultClientKeyShareNamedGroup>
        <defaultClientKeyShareNamedGroup>FFDHE8192</defaultClientKeyShareNamedGroup>
    </defaultClientKeyShareNamedGroups>
</config>
