<Config>
    <highestProtocolVersion>TLS13_DRAFT21</highestProtocolVersion>
    <supportedVersions>TLS13</supportedVersions>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA512</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA512</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA512</supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultClientSupportedCiphersuites>TLS_AES_256_GCM_SHA384</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_256_GCM_SHA384</defaultServerSupportedCiphersuites>
    <defaultClientNamedGroups>ECDH_X25519</defaultClientNamedGroups>
    <defaultServerNamedGroups>ECDH_X25519</defaultServerNamedGroups>
    <defaultSelectedNamedGroup>ECDH_X25519</defaultSelectedNamedGroup>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
  	<addKeyShareExtension>true</addKeyShareExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
</Config>

