<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>TLS13</supportedVersions>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_SHA512</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>ECDSA_SHA512</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA256</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA384</supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA512</supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCipherSuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCipherSuites>
    <defaultClientSupportedCipherSuites>TLS_AES_256_GCM_SHA384</defaultClientSupportedCipherSuites>
    <defaultServerSupportedCipherSuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCipherSuites>
    <defaultServerSupportedCipherSuites>TLS_AES_256_GCM_SHA384</defaultServerSupportedCipherSuites>
    <defaultClientNamedGroups>ECDH_X25519</defaultClientNamedGroups>
    <defaultServerNamedGroups>ECDH_X25519</defaultServerNamedGroups>
    <defaultSelectedNamedGroup>ECDH_X25519</defaultSelectedNamedGroup>
    <defaultClientKeyShareNamedGroups>ECDH_X25519</defaultClientKeyShareNamedGroups>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgorithmsExtension>true</addSignatureAndHashAlgorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
  	<addKeyShareExtension>true</addKeyShareExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
</Config>

