<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>TLS13</supportedVersions>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>ECDSA_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA256</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA384</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultServerSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA512</defaultServerSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>ECDSA_SHA256</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>ECDSA_SHA384</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>ECDSA_SHA512</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA256</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA384</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultClientSupportedSignatureAndHashAlgorithms>RSA_PSS_RSAE_SHA512</defaultClientSupportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCipherSuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCipherSuites>
    <defaultClientSupportedCipherSuites>TLS_AES_256_GCM_SHA384</defaultClientSupportedCipherSuites>
    <defaultServerSupportedCipherSuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCipherSuites>
    <defaultServerSupportedCipherSuites>TLS_AES_256_GCM_SHA384</defaultServerSupportedCipherSuites>
    <defaultClientNamedGroups>ECDH_X25519</defaultClientNamedGroups>
    <defaultServerNamedGroups>ECDH_X25519</defaultServerNamedGroups>
    <defaultSelectedNamedGroup>ECDH_X25519</defaultSelectedNamedGroup>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgorithmsExtension>true</addSignatureAndHashAlgorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
    <addPSKKeyExchangeModesExtension>true</addPSKKeyExchangeModesExtension>
    <addPreSharedKeyExtension>true</addPreSharedKeyExtension>
    <addEarlyDataExtension>true</addEarlyDataExtension>
    <addRenegotiationInfoExtension>false</addRenegotiationInfoExtension>
    <sessionTicketLifetimeHint>3600</sessionTicketLifetimeHint>
</Config>
