<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <addExtendedMasterSecretExtension>true</addExtendedMasterSecretExtension>
    <addRenegotiationInfoExtension>true</addRenegotiationInfoExtension>
    <addTokenBindingExtension>true</addTokenBindingExtension>
    <httpsParsingEnabled>true</httpsParsingEnabled>
</config>
