<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_101" class="java.beans.XMLDecoder">
	<object class="Server.TLSServer">
		<void property="accepted">
			<string>ACCEPT</string>
		</void>
		<void property="ip">
			<string>127.0.0.1</string>
		</void>
		<void property="outputFolder">
			<string>./</string>
		</void>
		<void property="port">
			<int>4433</int>
		</void>
		<void property="restartServerCommand">
			<string>openssl/openssl/bin/openssl s_server -naccept 1 -key /home/ic0ns/key.pem -cert /home/ic0ns/cert.pem -accept [port]</string>
		</void>
	</object>
</java>
