<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
			<ExtendedPatternLayout pattern="%highlight{%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1} - %msg%n%throwable}"/>
        </Console>
        <Console name="Info" target="SYSTEM_OUT">
			<ExtendedPatternLayout pattern="%highlight{%d{HH:mm:ss}{GMT+0} [%t] %-5level: %c{1}} - %msg%n%highlight{%throwable}"/>
        </Console>
        <Console name="Direct" target="SYSTEM_OUT">
			<ExtendedPatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
	<Logger name="DirectLogger" level="ALL">
		<AppenderRef ref="Direct"/>
	</Logger>
	<Logger name="com.openpojo.log.LoggerFactory" level="Off">
		<AppenderRef ref="Direct"/>	
	</Logger>
        <Root level="DEBUG">
            <AppenderRef ref="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>
