<tlsConfig>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedCiphersuites>TLS_AES_128_GCM_SHA256</supportedCiphersuites>
    <supportedCiphersuites>TLS_AES_256_GCM_SHA384</supportedCiphersuites>
    <namedCurves>ECDH_X25519</namedCurves>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
</tlsConfig>

