<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
	<highestServerProtocolVersion>TLS13</highestServerProtocolVersion>
    <supportedVersions>TLS13_DRAFT21</supportedVersions>
    <supportedVersions>TLS13_DRAFT20</supportedVersions>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
	<defaultMasterSecret>04010501060104030503060308040805</defaultMasterSecret>
	<defaultClientRandom>929ea06a60b420bb3851d9d47acb933dbe70399bf6c92da33af01d4fb770e98c</defaultClientRandom>
	<useRandomUnixTime>false</useRandomUnixTime>
	<PskSets>
		<preSharedKeyIdentity>69eab7218df46079782874824f8f9022e522cdd4fb5491bf5a14356125a9ef910e9727840bb1cf7838f7b822e21315f75bcdd89f2c73e5647ea69ce900868becd317f9a716718077537e4aa9701d817885352b26b718174a3e9b99c26343c525baba0cfa6643f9f31ba89b82e923a677a081b7cb95f96657c1d187274b3f8e74cebfb0cddb0150e663db6d004ddb318382101c20c742ab5e4f1288ae7105ca771a4a504d84865845b1db13592be5a897</preSharedKeyIdentity>
		<preSharedKey>0BCF4F8DF76DD5D2073A1FFFB1E2C25AA274A9812AB04411428D3313266332EF</preSharedKey>
		<ticketAge>2017-11-14 16:39:48.000</ticketAge>
		<ticketAgeAdd>186df390</ticketAgeAdd>
		<cipherSuite>TLS_AES_128_GCM_SHA256</cipherSuite>
	</PskSets>
    <namedCurves>ECDH_X25519</namedCurves>
    <keyShareType>ECDH_X25519</keyShareType>
    <keySharePublic>2a981db6cdd02a06c1763102c9e741365ac4e6f72b3176a6bd6a3523d3ec0f4c</keySharePublic>
    <keySharePrivate>03bd8bca70c19f657e897e366dbe21a466e4924af6082dbdf573827bcdde5def</keySharePrivate>
	<pskKeyExchangeModes>PSK_KE</pskKeyExchangeModes>
	<pskKeyExchangeModes>PSK_DHE_KE</pskKeyExchangeModes>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>false</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>false</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>false</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
	<addEarlyDataExtension>true</addEarlyDataExtension>
	<addPSKKeyExchangeModesExtension>false</addPSKKeyExchangeModesExtension>
	<addPreSharedKeyExtension>true</addPreSharedKeyExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
</Config>

