<tlsConfig>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>TLS13_DRAFT21</supportedVersions>
    <supportedVersions>TLS13_DRAFT20</supportedVersions>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedCiphersuites>TLS_AES_128_GCM_SHA256</supportedCiphersuites>
    <supportedCiphersuites>TLS_AES_256_GCM_SHA384</supportedCiphersuites>
    <namedCurves>ECDH_X25519</namedCurves>
    <keyShareType>ECDH_X25519</keyShareType>
    <keySharePublic>2a981db6cdd02a06c1763102c9e741365ac4e6f72b3176a6bd6a3523d3ec0f4c</keySharePublic>
    <keySharePrivate>03bd8bca70c19f657e897e366dbe21a466e4924af6082dbdf573827bcdde5def</keySharePrivate>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
</tlsConfig>

