<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
	<highestClientProtocolVersion>TLS13</highestClientProtocolVersion>
	<highestServerProtocolVersion>TLS13</highestServerProtocolVersion>
    <supportedVersions>TLS13_DRAFT21</supportedVersions>
    <supportedVersions>TLS13_DRAFT20</supportedVersions>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
	<defaultMasterSecret>04010501060104030503060308040805</defaultMasterSecret>
	<defaultClientRandom>929ea06a60b420bb3851d9d47acb933dbe70399bf6c92da33af01d4fb770e98c</defaultClientRandom>
	<useRandomUnixTime>false</useRandomUnixTime>
	<earlyData>544c532d41747461636b65720a</earlyData>
    <namedCurves>ECDH_X25519</namedCurves>
    <keyShareType>ECDH_X25519</keyShareType>
    <keySharePublic>2a981db6cdd02a06c1763102c9e741365ac4e6f72b3176a6bd6a3523d3ec0f4c</keySharePublic>
    <keySharePrivate>03bd8bca70c19f657e897e366dbe21a466e4924af6082dbdf573827bcdde5def</keySharePrivate>
	<pskKeyExchangeModes>PSK_KE</pskKeyExchangeModes>
	<pskKeyExchangeModes>PSK_DHE_KE</pskKeyExchangeModes>
    <addECPointFormatExtension>true</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
	<addEarlyDataExtension>true</addEarlyDataExtension>
	<addPSKKeyExchangeModesExtension>true</addPSKKeyExchangeModesExtension>
	<addPreSharedKeyExtension>true</addPreSharedKeyExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
</Config>

