<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
	<highestClientProtocolVersion>TLS13</highestClientProtocolVersion>
    <supportedVersions>TLS13_DRAFT21</supportedVersions>
    <supportedVersions>TLS13_DRAFT20</supportedVersions>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
	<defaultMasterSecret>04010501060104030503060308040805</defaultMasterSecret>
	<defaultClientRandom>929ea06a60b420bb3851d9d47acb933dbe70399bf6c92da33af01d4fb770e98c</defaultClientRandom>
	<useRandomUnixTime>false</useRandomUnixTime>
	<PskSets>
		<preSharedKeyIdentity>5b7d754a073ab7e31051408f8703b24e39ea0d9c5bd67188b34a58762b3106a3bc55d011febd10506fc9c18b19ad19af78792c8e44172472dd82f33ed08f02ba83b11cd17aedd46168a469f89c8d11a33fb84cbe04d8ca4c55d0341b85f04b169e138bc2720ad50fb2c55b7e913cdd1fa8c840656fa25a86740a3c6b53fefb6579f7e2fb8c3f35f1bd2953bb4cb7790b3c0033984a71fbbc3b988cdff0c91210ad5442dd78ac7571f364a075b83f123e</preSharedKeyIdentity>
		<preSharedKey>6AB0836CC80FC03D371021D25C09237B7166CB0F5310EC9BBA759F35DF1F2934</preSharedKey>
		<ticketAge>2017-11-15 12:25:25.000</ticketAge>
		<ticketAgeAdd>764ffcb0</ticketAgeAdd>
		<cipherSuite>TLS_AES_128_GCM_SHA256</cipherSuite>
	</PskSets>
    <namedCurves>ECDH_X25519</namedCurves>
    <keyShareType>ECDH_X25519</keyShareType>
    <keySharePublic>2a981db6cdd02a06c1763102c9e741365ac4e6f72b3176a6bd6a3523d3ec0f4c</keySharePublic>
    <keySharePrivate>03bd8bca70c19f657e897e366dbe21a466e4924af6082dbdf573827bcdde5def</keySharePrivate>
	<pskKeyExchangeModes>PSK_KE</pskKeyExchangeModes>
	<pskKeyExchangeModes>PSK_DHE_KE</pskKeyExchangeModes>
    <addECPointFormatExtension>true</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
	<addEarlyDataExtension>true</addEarlyDataExtension>
	<addPSKKeyExchangeModesExtension>true</addPSKKeyExchangeModesExtension>
	<addPreSharedKeyExtension>true</addPreSharedKeyExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
</Config>

