<Config>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedVersions>TLS13_DRAFT23</supportedVersions>
    <supportedVersions>TLS13_DRAFT22</supportedVersions>
    <supportedVersions>TLS13_DRAFT21</supportedVersions>
    <supportedVersions>TLS13_DRAFT20</supportedVersions>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>ECDSA</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA256</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA384</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <supportedSignatureAndHashAlgorithms>
        <hashAlgorithm>SHA512</hashAlgorithm>
        <signatureAlgorithm>RSA_PSS</signatureAlgorithm>
    </supportedSignatureAndHashAlgorithms>
    <defaultSelectedCipherSuite>TLS_AES_128_GCM_SHA256</defaultSelectedCipherSuite>
    <defaultClientSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultClientSupportedCiphersuites>
    <defaultClientSupportedCiphersuites>TLS_AES_256_GCM_SHA384</defaultClientSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_128_GCM_SHA256</defaultServerSupportedCiphersuites>
    <defaultServerSupportedCiphersuites>TLS_AES_256_GCM_SHA384</defaultServerSupportedCiphersuites>
    <defaultClientNamedGroups>SECP192R1</defaultClientNamedGroups>
    <defaultClientNamedGroups>SECP256R1</defaultClientNamedGroups>
    <defaultClientNamedGroups>SECP384R1</defaultClientNamedGroups>
    <defaultClientNamedGroups>SECP521R1</defaultClientNamedGroups>
    <defaultServerNamedGroups>SECP192R1</defaultServerNamedGroups>
    <defaultServerNamedGroups>SECP256R1</defaultServerNamedGroups>
    <defaultServerNamedGroups>SECP384R1</defaultServerNamedGroups>
    <defaultServerNamedGroups>SECP521R1</defaultServerNamedGroups>
    <defaultSelectedNamedGroup>SECP256R1</defaultSelectedNamedGroup>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addEllipticCurveExtension>true</addEllipticCurveExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
    <addSupportedVersionsExtension>true</addSupportedVersionsExtension>
    <addPSKKeyExchangeModesExtension>true</addPSKKeyExchangeModesExtension>
  	<addPreSharedKeyExtension>true</addPreSharedKeyExtension>
    <addKeyShareExtension>true</addKeyShareExtension>
    <useRandomUnixTime>true</useRandomUnixTime>
    <addEarlyDataExtension>true</addEarlyDataExtension>
</Config>

