<tlsConfig>
    <highestProtocolVersion>TLS13</highestProtocolVersion>
    <supportedCiphersuites>TLS_AES_128_GCM_SHA256</supportedCiphersuites>
    <namedCurves>ECDH_X25519</namedCurves>
    <addECPointFormatExtension>false</addECPointFormatExtension>
    <addSignatureAndHashAlgrorithmsExtension>true</addSignatureAndHashAlgrorithmsExtension>
</tlsConfig>

