name: pre-commit

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 2

    - name: Set up Python
      uses: actions/setup-python@v2

    - name: Detect code style issues
      uses: pre-commit/action@v2.0.0
      env:
        SKIP: no-commit-to-branch

    - name: Generate patch file
      if: failure()
      run: |
        git diff-index -p HEAD > "${PATCH_FILE}"
        [ -s "${PATCH_FILE}" ] && echo "UPLOAD_PATCH_FILE=${PATCH_FILE}" >> "${GITHUB_ENV}"
      env:
        PATCH_FILE: pre-commit.patch

    - name: Upload patch artifact
      if: failure() && env.UPLOAD_PATCH_FILE != null
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.UPLOAD_PATCH_FILE }}
        path: ${{ env.UPLOAD_PATCH_FILE }}
